.expirenceBar {
    display: flex;
    align-items: center;
}

.expirenceBar span {
    font-size: 1rem;
}


.expirenceBar > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;
}


.expirenceBar > div > div {
    height: 4px;
    border-radius: 4px;
    background: var(--green);
}

span.currentExpirence {

    position: absolute;
    top: 12px;
    transform: translateX(-50%);
}